{# Виджет "Прикреплённый файл с информацией" #}

{% block attach_file_widget %}
    {{- block('form_widget') -}}

    {% if object %}
        <div class="file_block" style="padding-top: 5px;">
            <b>Уже добавленный файл:</b> <a href="{{ attach_file.getFilePath() }}" target="_blank">{{ attach_file.getOriginalName() }}</a>
            <a href="{{ path('admin-attach-file-delete', { 'attach_file':attach_file.id }) }}" class="attach_file_delete" style="margin-left: 10px"><img src="{{ asset('bundles/itblasterattachfile/images/icon-close.png') }}" alt="Удалить" title="Удалить"></a><img src="{{ asset('bundles/itblasterattachfile/images/loader_h.gif') }}" class="loader" style="display: none">
            {% if(attach_file.isImage) %}
                <br /><a href="{{ attach_file.getFilePath() }}" target="_blank"><img src="{{ attach_file.getFilePath() }}" style="max-width: 150px; max-height: 150px"></a>
            {% endif %}
        </div>
    {% endif %}

    {% block attach_file_javascripts %}
        {% javascripts
            '@ItBlasterAttachFileBundle/Resources/public/js/attach_file_admin.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

{% endblock attach_file_widget %}